/* main */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*buttons*/

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  font: inherit;
  text-align: center;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: rgb(251, 86, 90);
  border: none;
  display: block;
  padding: 13px 0;
  width: 160px;
  height: 50px;
  border-radius: 3px;
}

.button:hover, .button:focus {
  background-color: rgb(231, 66, 70);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(215, 55, 59);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-green {
  background-color: rgb(0, 202, 116);
}

.button-green:hover, .button-green:focus {
  background-color: rgb(0, 188, 108);
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(0, 170, 98);
}

.button-yellow {
  background-color: rgb(239, 200, 74);
}

.button-yellow:hover, .button-yellow:focus {
  background-color: rgb(234, 181, 52);
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(229, 167, 34);
}

/*header*/

.main-header {
  line-height: 30px;
  font-weight: 500;
  background-color: rgb(238, 238, 238);
}

.inner-page .main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-page .main-navigation {
  margin-bottom: 80px;
}

.catalog {
  width: 760px;
}

.catalog-columns {
  display: flex;
  justify-content: space-around;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding-bottom: 37px;
  margin: 0;
}

.main-navigation a {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 500;
}

.main-header-logo {
  margin-top: 49px;
}

.main-header-logo img:hover, .main-header-logo img:focus {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.site-navigation, .user-navigation {
  list-style: none;
  margin-top: 75px;
  padding: 0;
}

.site-navigation {
  width: 440px;
  display: flex;
  justify-content: space-between;
}

.user-navigation {
  width: 120px;
  margin-left: 37px;
}

.user-navigation .navigation-cart {
  background-image: url(../img/nav-icon-cart.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-position-y: 6px;
  background-position-x: 2px;
}

.navigation-cart a {
  padding-left: 43px;
}

.site-navigation a:hover, .site-navigation a:focus, .user-navigation a:hover, .user-navigation a:focus {
  color: rgb(251, 86, 90);
}

.site-navigation a:active, .user-navigation a:active {
  color: rgba(0, 0, 0, 0.3)
}

.site-navigation-current a:active, .site-navigation-current a:focus, .site-navigation-current a:visited, .site-navigation-current a:active {
  color: rgb(0, 0, 0);
  background-color: rgb(238, 238, 238);
}

/*slider*/

.slider {
  background-color: rgb(238, 238, 238);
}

.slide {
  background-color: inherit;
}

.slide-img {
  background-image: url(../img/slider-slide-first.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.slide-img:nth-child(2) {
  background-image: url(../img/slider-slide-second.png);
}

.slide-img:nth-child(3) {
  background-image: url(../img/slider-slide-third.png);
}

.slider h3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-button {
  display: block;
  width: 240px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  border: none;
}

.slider-control-button {
  line-height: 18px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(251, 86, 90);
}

.slider-control-button:hover, .slider-control-button:focus {
  background-color: rgb(231, 66, 70);
}

.slider-control-button:active {
  color: rgb(215, 55, 59);
  background-color: rgb(231, 66, 70);
}

/* временно выключил осташвиеся слайды для удобства*/

.slide:nth-child(2), .slide:nth-child(3) {
  display: none;
}

/* временно выключил осташвиеся слайды для удобства*/

/*services*/

.services {
  margin-top: 80px;
  margin-bottom: 80px;
}

.services h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  margin-right: 100px;
}

.service-item:nth-child(3n) {
  margin: 0px;
}

.service-item {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  width: 300px;
}

.service-item:nth-child(1) {
  background-image: url(../img/services-websites.png);
}

.service-item:nth-child(2) {
  background-image: url(../img/services-apps.png);
}

.service-item:nth-child(3) {
  background-image: url(../img/services-presentations.png);
}

/*about-us*/

.about-us-studio {
  padding-top: 80px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 660px;
}

.studio-statistics {
  min-height: 208px;
  width: 360px;
  margin-top: 40px;
  margin-bottom: 5px;
}

.about-us ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-us li {
  margin-left: 33px;
  margin-bottom: 25px;
}

.about-us b {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-us p {
  margin-top: 33px;
}

.about-us li {
  list-tyle;:
}

.about-us h4 {
  margin-top: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.stats-information caption {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 49px;
}

.stats-info {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.stats-description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
}

/*logo-items*/

.logo-list .logo-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo-list {
  padding-top: 70px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.logo-list li {
  display: flex;
  justify-content: center;
  width: 260px;
}

.logo-item a {
  display: block;
  margin: auto;
}

.logo-item img {
  opacity: 0.2;
  background-color: rgb(255, 255, 255);
}

.logo-item img:hover, .logo-item img:focus {
  opacity: 1;
}

.logo-item img:active {
  opacity: 0.1;
}

/*footer*/

.footer-social {
  padding-top: 35px;
  display: flex;
  justify-content: flex-start;
}

.social-links {
  width: 560px;
  margin-left: 140px;
}

.social-links p {
  line-height: 22px;
}

.social-items b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.social-items a {
  color: rgb(0, 0, 0);
}

.social-button {
  color: rgb(255, 255, 255);
  background-color: rgb(225, 225, 225);
}

.social-button:hover, .social-button:focus {
  background-color: rgb(231, 66, 70);
}

.social-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgb(215, 55, 59);
}

.contacts {
  background-color: rgb(255, 255, 255);
}

.contacts-map p {
  line-height: 18px;
  color: rgb(213, 213, 213);
}

.write-us-tel {
  color: rgb(213, 213, 213);
  text-transform: none;
  text-decoration: none;
}

.write-us-tel:hover, .write-us-tel:focus {
  color: rgb(251, 86, 90);
}

.write-us-tel:active {
  color: rgb(251, 86, 90);
}

.adress-map {
  padding-top: 40px;
  padding-bottom: 35px;
}

.contacts-map b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

/*modal-form*/

.modal {
  background-color: rgb(255, 255, 255);
}

.modal-write-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.write-us-form {
  line-height: 18px;
  font-weight: 700;
}

.write-us-item input, .write-us-item textarea {
  color: rgb(68, 68, 68);
  background-color: transparent;
  border: 2px solid rgb(215, 220, 222);
}

.write-us-item input:hover, .write-us-item textarea:hover {
  border-color: rgb(181, 186, 187);
}

.write-us-item input:focus, .write-us-item textarea:focus {
  border-color: rgb(0, 0, 0);
}

.contacts a {
  width: 219px;
}

.modal-button-submit {
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(251, 86, 90);
}

/*
  Оставлю пока так, разберусь с ней позже
    //////
          .modal-button-close {}
    /////
*/

/* catalog styles  */

.filter fieldset {
  border: none;
}

.filter legend {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.filter-input+label {
  color: rgb(181, 186, 187);
}

.filter-input:hover+label, .filter-input:focus+label {
  color: rgb(0, 0, 0);
}

.filter-input:disabled+label {
  color: rgb(215, 220, 222);
}

.filter-items {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  width: 140px;
}

.filters {
  width: 260px;
}

.flex-filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filter {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*catalog*/

.catalog-filters {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-content {
  width: 760px;
}

.catalog-filters a {
  text-transform: uppercase;
  color: rgb(215, 220, 222);
}

.catalog-filters a:hover, .catalog-filters a:focus {
  color: rgb(181, 186, 187);
}

.catalog-filters a:active, .catalog-filters .catalog-filters-current {
  color: rgb(0, 0, 0)
}

.filter .filter-button {
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: rgb(238, 238, 238);
}

.filter .filter-button:hover, .filter .filter-button:focus {
  background-color: rgb(223, 223, 223);
}

.filter .filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgb(213, 213, 213);
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  width: 760px;
  margin: 0 200px;
  margin-bottom: 110px;
}

.catalog-list {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-list .catalog-item {
  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
}

.catalog-item-image {
  min-height: 576px;
}

.catalog-item-info {
  line-height: 18px;
  font-weight: 400;
  height: 231px;
  width: 360px;
}

.catalog-item-name a {
  font-size: 18px;
  line-height: 30px;
  color: rgb(0, 0, 0);
}

.filters-list {
  width: 260px;
}

/*pagination*/

.pagination {
  width: 760px;
}

.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-list a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  background-color: rgb(238, 238, 238);
  border: none;
  margin: 0;
  padding: 0;
}

.pagination-list a:hover, .pagination-list a:focus {
  background-color: rgb(233, 233, 233);
}

.pagination-list a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgb(213, 213, 213);
}

.pagination-list .current {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(238, 238, 238);
}

.pagination-list .next {
  min-height: 260px;
  width: 50px;
  text-align: center;
}

/*visually-hidden*/

/*Временно убрал эти элементы из потока, позже сделаю нормальное скрытие*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0px, 0px, 0px, 0px);
  overflow: hidden;
}
